/node_modules
/public/hot
/public/storage
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
composer.lock
/public/css/*
/public/js/*
/package-lock.json
/yarn.lock
